.searchContainer {
    display: flex;
    width: 100%;
    background-image: url('../../../assets/searchBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.searchBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 760px;
    max-width: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: 48px;
}

.textItem {
    margin-top: 60px;
    display: flex;
    align-items: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #e7b2da;
    padding: 1px 12px;
}

.emptyBox {
    display: flex;
    flex: 1;
    min-width: 20px;
    border: 1px solid red;
}

/* Text Input */
.inputContainer {
    display: flex;
    width: 70%;
    height: 56px;

    padding: 1px 12px;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    width: 30px;
    height: auto;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid rgred;
}

.inputBody {
    display: flex;
    width: 100%;

    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 4px 4px;
}

.textInput {
    padding-left: 32px; /* Give space for the icon */
    padding: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    flex: 1; /* Make it grow to take available space */
}

/* Button */
.button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 108px;
    color: #ffffff;
    background-color: #0076bc;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    filter: brightness(1.1);
}

.icon {
    display: none; /* Show icon */
}

@media (max-width: 400px) {
    .emptyBox {
        display: none;
    }

    .searchBody {
        min-width: 320px;
        max-width: 400px;

        height: 200px;
        margin-bottom: 20px;
    }

    .inputContainer {
        width: 90%;
        margin-top: 8px;
    }
    .textItem {
        margin-top: 16px;
    }

    .text {
        display: none; /* Hide text */
    }

    .icon {
        display: inline; /* Show icon */
    }

    .button {
        width: 72px;
        align-items: center; /* Align image vertically */
        justify-content: center; /* Align image horizontally */
        padding: 0; /* Remove padding for size consistency */
        border: none;
    }
}
