.CCardBody {
    display: flex;
    flex-direction: column;
    background-color: #c64a3d;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    height: 100%;
    justify-content: center;

    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.CCardText {
    display: flex;

    padding: 4px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.CCardSubText {
    display: flex;

    padding: 4px;

    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #ffffff;
}

@media (max-width: 400px) {
    .CCardText,
    .CCardSubText {
        padding: 2px;
        padding-left: 20px;
    }
}
