.listingPage {
  color: #44413d;
  background-color: #ffffff;
  padding: 16px;
  font-family: Arial, sans-serif;
}

.blue {
  background-color: #0076bc;
}

.offWhite {
  background-color: #f7f5f4;
  color: #528ee1;
}

.watchlistYellow {
  background-color: rgb(252, 187, 29);
  color: rgb(136, 52, 0);
}

.lrgBtn {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.navigation {
  background-color: #c64a3d;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs {
  display: flex;
  align-items: flex-start;
}

.listingDetails {
}

.productDetails button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.product-details button:hover {
  background-color: #0056b3;
}

.bidContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.closingInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.closingTime {
  text-align: left;
  width: 100%;
}

.sellerProfileContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sellerProfilePic {
  border-radius: 50%;
  flex: 1;
}

.sellerProfileText {
  flex: 4;
}

.aboutSellerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.aboutSellerTitle {
  text-align: left;
  width: 100%;
}

.aboutSellerContainer hr {
  width: 100%;
}

.sellerLocation {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.sellerMemberSince {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.sellerOtherListings {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.otherListings {
  background-color: #f7f5f4;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.otherListingsTitleContainer {
  display: flex;
  direction: row;
  width: 100%;
  justify-content: space-between;
}

.otherListingsTitle {
  align-content: center;
}

.otherListingsCount {
  align-content: center;
}

.footer {
  margin-top: 32px;
  padding: 16px 0;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer div {
  margin-bottom: 8px;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
