.CategoriesCards {
    display: flex;
    width: 100%;

    margin-top: 20px;
    height: 116px;
}

.emptyBox {
    display: flex;
    flex: 1;
    min-width: 20px;
    border: 1px solid red;
}

.CategoriesCardsContainer {
    display: flex;
    justify-content: space-between;

    min-width: 760px;
    max-width: 1200px;
    width: 100%;

    gap: 32px;
}

@media (max-width: 400px) {
    .emptyBox {
        display: none;
    }

    .CategoriesCards {
        height: 396px;
        margin-bottom: -20px;
    }

    .CategoriesCardsContainer {
        display: flex;
        flex-direction: column;

        gap: 20px;

        margin-left: 28px;
        margin-right: 28px;

        min-width: 344px; /* Allow full width */
        max-width: 344px;
        width: 100%;
    }
}
