.navbar {
  background-color: #d93a3f;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navLeft {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  font-weight: 700;
}

.navRight {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-weight: 700;
}

.xSmallText {
  font-size: x-small;
}
